# 🌐 ASN for Mainland China
# 金融街31号
ip-asn, 4134, direct

# 中国教育科研网络中心
ip-asn, 4538, direct

# CNNIC会员
ip-asn, 4611, direct

# NAP1 at CERNET
ip-asn, 4789, direct

# 中国联通北京省网
ip-asn, 4808, direct

# 中国电信下一代运营商网络
ip-asn, 4809, direct

# China Telecom (Group)
ip-asn, 4811, direct

# 中国电信（集团）
ip-asn, 4812, direct

# 中国电信（集团）
ip-asn, 4813, direct

# 中国电信（集团）
ip-asn, 4816, direct

# 中国电信（集团）
ip-asn, 4835, direct

# 中国联通China169骨干网
ip-asn, 4837, direct

# Tianhai InfoTech
ip-asn, 4842, direct

# 中国网络交流
ip-asn, 4847, direct

# 中华人民共和国国家信息中心
ip-asn, 4859, direct

# 计算机网络信息中心
ip-asn, 7497, direct

# Cloudfort IT
ip-asn, 7586, direct

# 中国国际信托投资公司管理信息中心
ip-asn, 7640, direct

# 中国广播电视网
ip-asn, 7641, direct

# Skywolf Technology LLC
ip-asn, 7720, direct

# Qin Cloud Networks
ip-asn, 7721, direct

# 北京光环讯通数码科技有限公司
ip-asn, 9298, direct

# 中国国际电子商务中心
ip-asn, 9306, direct

# Abitcool（中国）有限公司
ip-asn, 9308, direct

# MIKU NETWORK LIMITED
ip-asn, 9384, direct

# 北京神州长城通信
ip-asn, 9389, direct

# 广东省公路宽带网络服务中心
ip-asn, 9391, direct

# APNIC ASN Block
ip-asn, 9392, direct

# 中国铁通电讯公司
ip-asn, 9394, direct

# 北京国信比林电信科技有限公司
ip-asn, 9395, direct

# 中国国家图书馆
ip-asn, 9401, direct

# 测试平台服务中心
ip-asn, 9405, direct

# Sakura Network LTD
ip-asn, 9516, direct

# INTERNET-SOLUTION -HK
ip-asn, 9535, direct

# 中国联通
ip-asn, 9800, direct

# 北京中关村信息技术有限公司
ip-asn, 9801, direct

# Abitcool（中国）有限公司
ip-asn, 9802, direct

# 北京京讯公共信息技术有限公司
ip-asn, 9803, direct

# APNIC ASN Block
ip-asn, 9805, direct

# Beijing Educational Information Network Service Center Co., Ltd
ip-asn, 9806, direct

# 中国国家统计局数据管理中心
ip-asn, 9807, direct

# 广东移动通信有限公司
ip-asn, 9808, direct

# 中国深圳市福田区雅柏公园
ip-asn, 9809, direct

# 北京时代网星科技有限公司
ip-asn, 9810, direct

# 北京srit公司
ip-asn, 9811, direct

# 东方有线网络有限公司
ip-asn, 9812, direct

# 北京光纤网络有限公司
ip-asn, 9814, direct

# Internet Finance Laboratory
ip-asn, 9818, direct

# MercyCloud Network
ip-asn, 9886, direct

# 中国联通工业互联网骨干网
ip-asn, 9929, direct

# AS For Anlai
ip-asn, 9939, direct

# Zeofast Network
ip-asn, 10111, direct

# 中国联通中卫云
ip-asn, 10206, direct

# 中国企业通讯
ip-asn, 10212, direct

# 21Vianet.Co责任公司
ip-asn, 17428, direct

# 北京GEHUA CATV NETWORK CO.LTD
ip-asn, 17429, direct

# 北京西朗传媒文化有限公司
ip-asn, 17430, direct

# Internet Service Provider in China
ip-asn, 17442, direct

# 互联网内容提供商
ip-asn, 17457, direct

# 基于宽带IP网络的DWDM
ip-asn, 17490, direct

# 中国联通上海网
ip-asn, 17621, direct

# 中国联通广州网
ip-asn, 17622, direct

# 中国联通深圳网
ip-asn, 17623, direct

# ASN为山东省CT网
ip-asn, 17633, direct

# 天津省CT网络ASN
ip-asn, 17638, direct

# 上海电信Haplink网络有限公司
ip-asn, 17739, direct

# 石家庄旭鼎科技有限公司
ip-asn, 17767, direct

# 上海科技网络通信有限公司
ip-asn, 17775, direct

# China Enterprise ICT Solutions Limited
ip-asn, 17776, direct

# APNIC ASN Block
ip-asn, 17781, direct

# as河南省CT网
ip-asn, 17785, direct

# 辽宁省CT网
ip-asn, 17799, direct

# 中国联通IP网络China169广东省
ip-asn, 17816, direct

# David Liu aka PotatoNet
ip-asn, 17830, direct

# 黑龙江省CT网
ip-asn, 17897, direct

# 深圳市拓威视讯传播有限公司
ip-asn, 17962, direct

# 北京电信通网络科技有限公司
ip-asn, 17964, direct

# 中国信息广播网络有限公司
ip-asn, 17966, direct

# 大庆中基石油电信建设有限公司
ip-asn, 17968, direct

# 北京宽通网络科技有限公司
ip-asn, 17969, direct

# CERNET 863 3TNET太比特区域网（CERNET-3TN）
ip-asn, 18011, direct

# 中信网络管理有限公司
ip-asn, 18118, direct

# 北京首都公共信息平台
ip-asn, 18239, direct

# 国家电力信息网
ip-asn, 18241, direct

# 成都信息港有限公司
ip-asn, 18242, direct

# 上海易思网络科技发展有限公司
ip-asn, 18243, direct

# Stateline Internet Data Center Co., Ltd. Shanghai
ip-asn, 18244, direct

# CNNIC
ip-asn, 18245, direct

# 常州比特姆软件科技有限公司
ip-asn, 18257, direct

# 作为江苏省CHINANET骨干的AS号
ip-asn, 23650, direct

# IDC，中国电信公司
ip-asn, 23724, direct

# SXBCTV，互联网服务提供商，
ip-asn, 23771, direct

# 辽河油田电讯公司
ip-asn, 23839, direct

# 天津先进信息产品有限公司
ip-asn, 23840, direct

# 深圳市信息网络中心
ip-asn, 23842, direct

# 北京光环新旺数码
ip-asn, 23844, direct

# 深圳市平安通讯科技有限公司
ip-asn, 23848, direct

# 重庆数控宽带网络有限公司
ip-asn, 23851, direct

# 17/FL, International Bank Center,
ip-asn, 23852, direct

# 上海数据解决方案有限公司
ip-asn, 23853, direct

# 中国下一代互联网CERNET2
ip-asn, 23910, direct

# 中国下一代互联网北京九
ip-asn, 23911, direct

# 21vianet(China) Inc.
ip-asn, 24133, direct

# CNLink网络公司
ip-asn, 24134, direct

# 河南平煤集团
ip-asn, 24137, direct

# 中国铁通电信公司
ip-asn, 24138, direct

# 华蜀传媒网络有限公司
ip-asn, 24139, direct

# 上海DMT信息网络有限公司
ip-asn, 24141, direct

# 青岛有线电视网络中心
ip-asn, 24143, direct

# Wuhan LSHIY Network Technology Co., Ltd.
ip-asn, 24144, direct

# 北京CBD电信公司，.LTD
ip-asn, 24147, direct

# KNET Techonlogy（北京）有限公司
ip-asn, 24149, direct

# 1 TianXianQiao BinHe Road,Chengdu,SiChuan
ip-asn, 24150, direct

# 中国互联网络信息中心
ip-asn, 24151, direct

# TWD2教育和研究网络
ip-asn, 24239, direct

# CRIS-CERNET
ip-asn, 24302, direct

# 中国移动通信公司IPv6网络
ip-asn, 24311, direct

# CERNET2 IX at Tsinghua University
ip-asn, 24348, direct

# 北京大学CERNET2 IX
ip-asn, 24349, direct

# 北京邮电大学CERNET2 IX
ip-asn, 24350, direct

# CERNET2 IX at Beijing University of Aeronautics and Astronautics
ip-asn, 24351, direct

# 天津大学CERNET2 IX
ip-asn, 24352, direct

# CERNET2 IX at Xi'an Jiaotong University
ip-asn, 24353, direct

# CERNET2 IX at Lanzhou University
ip-asn, 24354, direct

# CERNET2 IX at University of Electronic Science and Technology of China
ip-asn, 24355, direct

# CERNET2 IX at Chongqing University
ip-asn, 24356, direct

# CERNET2 IX at South China University of Technology
ip-asn, 24357, direct

# CERNET2 IX at Huazhong University of Science and Technology
ip-asn, 24358, direct

# CERNET2 IX at Central South University
ip-asn, 24359, direct

# CERNET2 IX at Zhengzhou University
ip-asn, 24360, direct

# 东南大学的CERNET2 IX
ip-asn, 24361, direct

# CERNET2 IX中国科学技术大学
ip-asn, 24362, direct

# 山东大学CERNET2 IX
ip-asn, 24363, direct

# CERNET2 IX在上海交通大学
ip-asn, 24364, direct

# CERNET2 IX at Fudan University
ip-asn, 24365, direct

# CERNET2 IX at Tongji University
ip-asn, 24366, direct

# CERNET2 IX在浙江大学
ip-asn, 24367, direct

# 厦门大学CERNET2 IX
ip-asn, 24368, direct

# CERNET2 IX at Northeast University
ip-asn, 24369, direct

# CERNET2 IX at Dalian University of Technology
ip-asn, 24370, direct

# 吉林大学CERNET2 IX
ip-asn, 24371, direct

# CERNET2 IX at Harbin Institute of Technology
ip-asn, 24372, direct

# 雅虎中国数据中心
ip-asn, 24376, direct

# 上海移动通信有限公司
ip-asn, 24400, direct

# CNISP-Union Technology (Beijing) Co., Ltd
ip-asn, 24404, direct

# 中国互联网络信息中心
ip-asn, 24406, direct

# 中国互联网络信息中心
ip-asn, 24409, direct

# 深圳市日升科技有限公司
ip-asn, 24413, direct

# 北京Primezone技术公司
ip-asn, 24416, direct

# 华通信息网
ip-asn, 24422, direct

# No. 207 Hualin Road, Fuzhou, Fujian, China
ip-asn, 24423, direct

# 北京谷翔信息技术有限公司
ip-asn, 24424, direct

# Freecomm公司
ip-asn, 24427, direct

# Beijing Founder Broadband Network Technology Co.,Ltd
ip-asn, 24428, direct

# 浙江淘宝网络有限公司
ip-asn, 24429, direct

# 中国国家邮政局
ip-asn, 24430, direct

# 山东移动通信有限公司
ip-asn, 24444, direct

# 河南移动通信有限公司
ip-asn, 24445, direct

# 跨欧亚信息网（TEIN2） – 北
ip-asn, 24489, direct

# 跨欧亚信息网（TEIN2） – SG
ip-asn, 24490, direct

# gnet综合服务公司
ip-asn, 24495, direct

# 河北移动通信有限公司
ip-asn, 24547, direct

# DRAGONLAB
ip-asn, 24575, direct

# 北四环西路58号理想广场15楼
ip-asn, 37936, direct

# 中国eGovNet信息中心
ip-asn, 37937, direct

# 中国数码科技有限公司
ip-asn, 37941, direct

# 中国文化遗产信息咨询中心
ip-asn, 37942, direct

# 郑州巨特计算机网络技术有限公司
ip-asn, 37943, direct

# 中国通讯有限公司
ip-asn, 37957, direct

# 杭州阿里巴巴广告有限公司
ip-asn, 37963, direct

# 亚太环通商务解决方案
ip-asn, 37965, direct

# 杭州云泽网络科技有限公司
ip-asn, 37969, direct

# 中国华电公司
ip-asn, 37970, direct

# 天津移动通信有限公司
ip-asn, 38019, direct

# 信息中心，科学技术部
ip-asn, 38027, direct

# 戴尔（中国）有限公司
ip-asn, 38057, direct

# 法国兴业银行（中国）有限公司
ip-asn, 38238, direct

# China Education and Research Network (CERNET)
ip-asn, 38255, direct

# China Education and Research Network (CERNET)
ip-asn, 38272, direct

# CHINANET四川电信互联网数据中心
ip-asn, 38283, direct

# Meifeng Advertising Co., Ltd.
ip-asn, 38323, direct

# 深圳市虎盟科技有限公司
ip-asn, 38339, direct

# 263 Shanghai Communications Ltd.
ip-asn, 38340, direct

# 和信信息技术有限公司
ip-asn, 38341, direct

# 上海VSAT网络系统有限公司
ip-asn, 38342, direct

# KNET Techonlogy（北京）有限公司
ip-asn, 38345, direct

# 航天信息网络有限公司
ip-asn, 38346, direct

# 资本在线数据服务有限公司
ip-asn, 38353, direct

# 重庆广播电视宽带IP城域网
ip-asn, 38355, direct

# 北京数据快讯科技有限公司
ip-asn, 38357, direct

# 中国科学技术协会信息中心
ip-asn, 38358, direct

# 上海高速公路信息技术有限公司
ip-asn, 38363, direct

# 龙泰网络科技有限公司
ip-asn, 38364, direct

# 北京百度网通科技有限公司
ip-asn, 38365, direct

# 联合人寿保险股份有限公司
ip-asn, 38367, direct

# 中国铁路互联网广东分公司
ip-asn, 38370, direct

# 佛山市瑞江科技有限公司
ip-asn, 38372, direct

# 北京高华证券股份有限公司
ip-asn, 38375, direct

# 博世（中国）投资有限公司
ip-asn, 38378, direct

# Shanghai Maginetwork Cro，.Ltd。
ip-asn, 38379, direct

# 中国南方机车车辆工业公司
ip-asn, 38380, direct

# Travelsky科技有限公司
ip-asn, 38381, direct

# Beijing Fengniao Network Technology Co., Ltd
ip-asn, 38439, direct

# NVIDIA亚洲互联网网关
ip-asn, 38564, direct

# CERNET互联网数据中心
ip-asn, 38587, direct

# NVIDIA班加罗尔
ip-asn, 38834, direct

# CoreLink Network
ip-asn, 42962, direct

# 中国上海
ip-asn, 45057, direct

# 金桥网通通信有限公司
ip-asn, 45058, direct

# 上海信息网络有限公司
ip-asn, 45061, direct

# 广州网易电脑系统有限公司
ip-asn, 45062, direct

# 北京中关村软件园发展有限公司
ip-asn, 45064, direct

# 中国铁通山东网
ip-asn, 45069, direct

# 李宁（中国）体育用品有限公司
ip-asn, 45071, direct

# CNNIC ASN Block
ip-asn, 45074, direct

# CNNIC ASN Block
ip-asn, 45075, direct

# GDS长安服务有限公司
ip-asn, 45079, direct

# 上海联网通讯科技有限公司
ip-asn, 45080, direct

# 北京CheeryZone Scitech有限公司
ip-asn, 45083, direct

# 北京市朝阳区建国路98号
ip-asn, 45084, direct

# 上海Yovole网络公司
ip-asn, 45086, direct

# 中国免税集团
ip-asn, 45087, direct

# 深圳市腾讯计算机系统有限公司
ip-asn, 45090, direct

# Cnean互联网交换
ip-asn, 45093, direct

# 沃尔玛（中国）投资有限公司
ip-asn, 45101, direct

# 北京天威鑫通科技股份有限公司
ip-asn, 45110, direct

# 山西大同煤业集团通信有限公司
ip-asn, 45113, direct

# BII集团控股有限公司
ip-asn, 45275, direct

# 清华大学
ip-asn, 45576, direct

# 中国宽带通信（CBCnet）
ip-asn, 45587, direct

# Chong Zan (Shanghai) Network Technology Co., LTD
ip-asn, 49953, direct

# Internet Systems Consortium，（中国北京市）
ip-asn, 55439, direct

# Beijing Sun Rise Technology CO.,LTD
ip-asn, 55461, direct

# 中国国际广播电台
ip-asn, 55468, direct

# GOIP-AULA昵
ip-asn, 55515, direct

# 北京市昌平区
ip-asn, 55641, direct

# 肇嘉浜路1065-A
ip-asn, 55786, direct

# Tianjin University IPv6 Campus Network
ip-asn, 55826, direct

# 麦格纳汽车技术服务（上海）有限公司
ip-asn, 55956, direct

# Intel China Ltd.
ip-asn, 55958, direct

# 北京光环新旺数码
ip-asn, 55960, direct

# Beijing Kuaishou Technology Co., Ltd.
ip-asn, 55962, direct

# 邮政储蓄银行
ip-asn, 55966, direct

# 北京百度网通科技有限公司
ip-asn, 55967, direct

# 中国社会科学院
ip-asn, 55971, direct

# APNIC ASN Block
ip-asn, 55973, direct

# Beijing DxConsole Technology Co. Ltd
ip-asn, 55976, direct

# 浙江瓦苏广播电视网络有限公司
ip-asn, 55977, direct

# 长虹IT信息产品有限公司
ip-asn, 55982, direct

# 华为云服务数据中心
ip-asn, 55990, direct

# 北京奇湖科技有限公司
ip-asn, 55992, direct

# 上海AnchNet Tec，Inc。
ip-asn, 55994, direct

# CYPRESS TELECOM（CHINA）LIMITED
ip-asn, 55996, direct

# CNLink网络科技有限公司
ip-asn, 55998, direct

# 康宝莱（中国）保健品有限公司
ip-asn, 56000, direct

# 上海晨毅网络科技有限公司
ip-asn, 56001, direct

# 北京海洋通信与导航公司
ip-asn, 56002, direct

# 北京世纪联盟网络科技有限公司
ip-asn, 56003, direct

# Information Center of Shanghai Municipal Education Commission
ip-asn, 56004, direct

# 郑州法斯特科技有限公司
ip-asn, 56005, direct

# Shanghai Pudong Development Bank Co.,Ltd.
ip-asn, 56006, direct

# UNICLOUD TECH CO.,LTD.
ip-asn, 56011, direct

# LGNET中国
ip-asn, 56012, direct

# 三星SDS中国
ip-asn, 56013, direct

# 中国体育彩票科技发展有限公司
ip-asn, 56015, direct

# 北京舒居佳科技有限公司
ip-asn, 56019, direct

# 中国移动通信公司
ip-asn, 56040, direct

# 中国移动通信公司
ip-asn, 56041, direct

# 中国移动通信公司
ip-asn, 56042, direct

# 中国移动通信公司
ip-asn, 56044, direct

# 中国移动通信公司
ip-asn, 56046, direct

# 中国移动通信公司
ip-asn, 56047, direct

# 中国移动通信公司
ip-asn, 56048, direct

# 北京互联网港科技有限公司
ip-asn, 56282, direct

# Beijing Sanxin Shidai Co.Ltd
ip-asn, 56292, direct

# Chengde TsingYao Network Technology Service Co., Ltd.
ip-asn, 58336, direct

# 佛山市四海网络科技有限公司
ip-asn, 58416, direct

# CONAC（中国组织名称管理中心）
ip-asn, 58448, direct

# 富春路288号
ip-asn, 58461, direct

# CHINANET广东省网络
ip-asn, 58466, direct

# 中国电信
ip-asn, 58517, direct

# 中国电信
ip-asn, 58518, direct

# 云计算公司
ip-asn, 58519, direct

# NANTON
ip-asn, 58520, direct

# CONAC（中国组织名称管理中心）
ip-asn, 58536, direct

# China Telecom Changsha
ip-asn, 58539, direct

# 株洲
ip-asn, 58540, direct

# 湘潭
ip-asn, 58541, direct

# 岳阳
ip-asn, 58542, direct

# 广东省
ip-asn, 58543, direct

# CHINANET湖北省网络
ip-asn, 58563, direct

# CHINANET广东省佛山网
ip-asn, 58571, direct

# 上海蓝云科技有限公司
ip-asn, 58593, direct

# CHINANET Fujian province Fuzhou IDC network
ip-asn, 58772, direct

# CONAC（中国组织名称管理中心）
ip-asn, 58811, direct

# GUANGDONG RURAL CREDIT UNION
ip-asn, 58828, direct

# 森林永恒传播技术。有限公司
ip-asn, 58829, direct

# 广东电缆有限公司
ip-asn, 58834, direct

# Beijing Sheng Hexuan Culture Communication Co., Ltd
ip-asn, 58842, direct

# 广东奥菲数据科技有限公司
ip-asn, 58844, direct

# 彭博财务信息（北京）有限公司
ip-asn, 58850, direct

# Guizhou provincial radio and television information Network Inc
ip-asn, 58852, direct

# 厦门艾雅网络科技有限公司
ip-asn, 58854, direct

# Shenzhen WSUNet Technology Co., Ltd.
ip-asn, 58859, direct

# 微软（中国）有限公司
ip-asn, 58862, direct

# hijingshan District, Beijing to reunite the property the second floor
ip-asn, 58863, direct

# 中国金融认证局
ip-asn, 58866, direct

# 上海安昌网络安全技术有限公司
ip-asn, 58879, direct

# 四川世纪立新财务管理咨询有限公司
ip-asn, 58962, direct

# Beijing Internet Harbor Technology Co.,Ltd
ip-asn, 58998, direct

# Grande Arche Technologies（Shanghai），Co.Ltd.
ip-asn, 59000, direct

# Tianjin B&T broadband network technology Co., Ltd.
ip-asn, 59003, direct

# Beijing flash newsletter cas telecommunication
ip-asn, 59008, direct

# 青岛旺信电讯有限公司
ip-asn, 59009, direct

# 联合网络信息服务有限公司
ip-asn, 59010, direct

# 北京云林网络科技有限公司
ip-asn, 59011, direct

# 中粮储备集团有限公司
ip-asn, 59012, direct

# 北京金山云互联科技有限公司
ip-asn, 59019, direct

# 昆明广播电视网络有限公司
ip-asn, 59022, direct

# Forest Eternal Communication Tech. co.ltd
ip-asn, 59023, direct

# Beijing Sankuai Technology Co.,Ltd.
ip-asn, 59025, direct

# People.Cn CO.,LTD
ip-asn, 59029, direct

# 艾森科技（上海）有限公司
ip-asn, 59033, direct

# 北京希望网络科技有限公司
ip-asn, 59034, direct

# 国家计算机网络与信息
ip-asn, 59037, direct

# 广州兰东信息技术有限公司
ip-asn, 59043, direct

# APNIC ASN Block
ip-asn, 59045, direct

# 北京云时代科技有限公司
ip-asn, 59048, direct

# 沃尔玛（中国）投资有限公司
ip-asn, 59049, direct

# 北京云方舟科技有限公司
ip-asn, 59050, direct

# 上海圆通科技有限公司
ip-asn, 59056, direct

# Bei jing yong xin chang lian ke ji you xian gong si
ip-asn, 59057, direct

# 贝宝网络信息服务（上海）有限公司
ip-asn, 59065, direct

# 微软移动联盟互联网服务有限公司
ip-asn, 59067, direct

# Shanghai Pudong Development Bank Co.,Ltd.
ip-asn, 59068, direct

# Chengdu Zhongli Data Technology Co.,Ltd
ip-asn, 59070, direct

# Shenzhen ESIN Technology Co., Ltd
ip-asn, 59072, direct

# 中国银行股份有限公司
ip-asn, 59073, direct

# 泰康保险集团有限公司
ip-asn, 59074, direct

# 上海UCloud信息技术有限公司
ip-asn, 59077, direct

# 云能科技公司
ip-asn, 59078, direct

# Beijing HuaxiaYakue Network Technology Co., Ltd.
ip-asn, 59080, direct

# 上海远思网络信息服务有限公司
ip-asn, 59081, direct

# 上海宽辉科技有限公司
ip-asn, 59083, direct

# 18号建筑科技大学
ip-asn, 59089, direct

# Peking University
ip-asn, 59201, direct

# 中国电信中国下一代互联网
ip-asn, 59265, direct

# Beijing BAIWU Technology Co., Ltd.
ip-asn, 63531, direct

# 深圳春秋云集团
ip-asn, 63534, direct

# 成都万达电子信息技术有限公司
ip-asn, 63535, direct

# 山东云梳文化有限公司
ip-asn, 63540, direct

# 北京蓝天科技有限公司
ip-asn, 63541, direct

# 北京迅捷云技术有限公司
ip-asn, 63545, direct

# 联诺（北京）有限公司
ip-asn, 63548, direct

# 辽宁图隆科技有限公司
ip-asn, 63549, direct

# 九鹏网络有限公司
ip-asn, 63554, direct

# 北京北龙云海网络数据技术有限公司
ip-asn, 63555, direct

# 中国电子科技网络安全有限公司
ip-asn, 63561, direct

# 贵州白山云科技有限公司
ip-asn, 63564, direct

# Beijing lian guang tong network technology co., LTD
ip-asn, 63565, direct

# APNIC ASN Block
ip-asn, 63570, direct

# APNIC ASN Block
ip-asn, 63571, direct

# 中国诺华生物医学研究有限公司
ip-asn, 63580, direct

# 广西广播电视信息网络有限公司
ip-asn, 63581, direct

# 中国电信研究院
ip-asn, 63582, direct

# 中国电信研究院
ip-asn, 63583, direct

# Hebei Broadcasting&TV Network
ip-asn, 63590, direct

# Guangdong HeyTap Technology Co., Ltd.
ip-asn, 63593, direct

# Hebei Kun Time Network Technology Co. Ltd.
ip-asn, 63598, direct

# 北京HYCT网络有限公司
ip-asn, 63603, direct

# 深圳前海鸟云计算有限公司
ip-asn, 63612, direct

# A4, 5th Floor, Tower C, Triumph Plaza, Unit A, No 143,
ip-asn, 63614, direct

# 通用（中国）有限公司
ip-asn, 63615, direct

# 麦肯锡咨询公司上海
ip-asn, 63617, direct

# Beijing Sankuai Cloud Computing Co.,Ltd.
ip-asn, 63619, direct

# 深圳市华博科技发展有限公司
ip-asn, 63620, direct

# 宁夏广播电视网络有限公司
ip-asn, 63621, direct

# 北京汽车信息科技有限公司
ip-asn, 63629, direct

# Guangzhou Power Communication Networks CO.,Ltd.
ip-asn, 63630, direct

# 广东云基科技有限公司
ip-asn, 63631, direct

# APNIC ASN Block
ip-asn, 63634, direct

# 兆丰华帝信息咨询有限公司
ip-asn, 63641, direct

# 北京小巨科技有限公司
ip-asn, 63646, direct

# 北京小巨科技有限公司
ip-asn, 63648, direct

# BEIJING NETEAST TECHNOLOGIES CORPORATION LTD
ip-asn, 63654, direct

# Huawei Technologies Co., Ltd
ip-asn, 63655, direct

# 深圳市平安通讯科技有限公司
ip-asn, 63673, direct

# 江苏云永信息技术有限公司
ip-asn, 63677, direct

# 江苏云永信息技术有限公司
ip-asn, 63678, direct

# 江苏云联信息技术有限公司
ip-asn, 63679, direct

# Esun Technology(Shanghai) Co.,Ltd
ip-asn, 63689, direct

# China Dragon Telecom Co.,Ltd
ip-asn, 63690, direct

# 北京智慧网络科技有限公司
ip-asn, 63691, direct

# WeiYi Network Technology Co., Ltd
ip-asn, 63695, direct

# China Securities Co., Ltd
ip-asn, 63696, direct

# China Securities Co., Ltd
ip-asn, 63697, direct

# Jishi Media Co ., Ltd.
ip-asn, 63701, direct

# Guizhou provincial radio and television information Network Inc
ip-asn, 63704, direct

# 南京安来新西同心吉树佑县公司
ip-asn, 63705, direct

# 中国铁通电讯公司
ip-asn, 63711, direct

# Hodo Telecom Co，Ltd。
ip-asn, 63722, direct

# APNIC ASN Block
ip-asn, 63724, direct

# 华为
ip-asn, 63727, direct

# 万宝大道293号
ip-asn, 63835, direct

# 衡阳
ip-asn, 63838, direct

# 网络途
ip-asn, 64021, direct

# APNIC 32位ASN Block
ip-asn, 131134, direct

# Inspur Software Group Co., Ltd.
ip-asn, 131137, direct

# Everlife Networks
ip-asn, 131171, direct

# CHINATELECOM Hubei province Shengji 5G network
ip-asn, 131285, direct

# 昆明
ip-asn, 131325, direct

# 上海华娟信息技术有限公司
ip-asn, 131477, direct

# Hangzhou Aron Teconology Co.,Ltd.
ip-asn, 131482, direct

# Ubisoft Shanghai
ip-asn, 131484, direct

# 北京京东360度电子商务有限公司
ip-asn, 131486, direct

# Beijing nine cloud infinite network technology co., LTD
ip-asn, 131495, direct

# 大众（中国）投资有限公司
ip-asn, 131497, direct

# 中国航空技术进出口总公司
ip-asn, 131503, direct

# 黑龙江广播电视网络有限公司
ip-asn, 131506, direct

# Beijing Xinchi Technology Co., Ltd
ip-asn, 131512, direct

# 海信
ip-asn, 131519, direct

# Haitong Securities Company Limited
ip-asn, 131521, direct

# 上海普捷通讯科技有限公司
ip-asn, 131524, direct

# Nanjing Tuniu Technology Co. Ltd.
ip-asn, 131525, direct

# 北京博盛拓网络科技有限公司
ip-asn, 131535, direct

# Shanghai Great Wall Broadband Network Service Co., Ltd.
ip-asn, 131536, direct

# Wal-mart (China) Investment Co., Ltd.
ip-asn, 131558, direct

# APNIC 32位ASN Block
ip-asn, 131562, direct

# Fnetlink International Co., Ltd.
ip-asn, 131567, direct

# Beijing Haiyu Technology Co. Ltd..
ip-asn, 131574, direct

# APNIC 32位ASN Block
ip-asn, 131577, direct

# 北京外国语大学
ip-asn, 131578, direct

# Earth network technology (Shanghai) Co., Ltd
ip-asn, 132019, direct

# 蜀马路3号
ip-asn, 132147, direct

# 蜀马路3号
ip-asn, 132153, direct

# 科技中医大道腾讯大厦
ip-asn, 132203, direct

# China Telecom
ip-asn, 132225, direct

# meshlab.net – MEGATRANS
ip-asn, 132352, direct

# 安顺路10号
ip-asn, 132437, direct

# IDC山西中国移动通信公司
ip-asn, 132510, direct

# 黑龙江移动通信有限公司
ip-asn, 132525, direct

# 中国石油大学（华东）
ip-asn, 132553, direct

# Tsukeru Networks
ip-asn, 132623, direct

# Shenzhen Balian Network Technology Co., Ltd
ip-asn, 132698, direct

# 成都西维数码科技有限公司
ip-asn, 132719, direct

# 聊城大学
ip-asn, 132886, direct

# CERNET内容分发网络（CCDN）
ip-asn, 133111, direct

# 中国联通IP网络
ip-asn, 133118, direct

# 中国联通IP网络
ip-asn, 133119, direct

# 连接集线器科技（上海）有限公司
ip-asn, 133194, direct

# NewMedia Express Pte Ltd.
ip-asn, 133219, direct

# CordCloud LTD
ip-asn, 133365, direct

# 昆山杜克大学
ip-asn, 133465, direct

# 纽约大学ASN
ip-asn, 133475, direct

# 张爱云
ip-asn, 133492, direct

# CERNET新技术有限公司
ip-asn, 133512, direct

# CERNET新技术有限公司
ip-asn, 133513, direct

# CERNET New Technology Co., Ltd
ip-asn, 133515, direct

# CERNET New Technology Co., Ltd
ip-asn, 133517, direct

# CERNET New Technology Co., Ltd
ip-asn, 133518, direct

# DOORPOST Limited
ip-asn, 133555, direct

# 鑫源互连（香港）有限公司
ip-asn, 133731, direct

# 福州
ip-asn, 133774, direct

# 厦门
ip-asn, 133775, direct

# 泉州
ip-asn, 133776, direct

# IMLONGHAO
ip-asn, 133846, direct

# 北京IQIYI科技有限公司
ip-asn, 133865, direct

# 郑州龙陵科技有限公司
ip-asn, 133952, direct

# Licson互联网服务
ip-asn, 134098, direct

# CERNEWTECH (Beijing) co.,LTD
ip-asn, 134169, direct

# CHINANET江城省IDC网络
ip-asn, 134238, direct

# 南京
ip-asn, 134417, direct

# 陕西省
ip-asn, 134418, direct

# 北海
ip-asn, 134419, direct

# 重庆电信
ip-asn, 134420, direct

# Shaoxing Junruiyunjisuan Co Ltd
ip-asn, 134477, direct

# JSMSR
ip-asn, 134478, direct

# CTJ's Global Network
ip-asn, 134488, direct

# 中国联通IP网络
ip-asn, 134542, direct

# 中国联通广东IP网络
ip-asn, 134543, direct

# UNION FU WAH DIGITAL TECHNOLOGY LIMITED
ip-asn, 134578, direct

# shuiM数据交换中心
ip-asn, 134602, direct

# CHINANET四川省成都市MAN网络
ip-asn, 134755, direct

# CHINANET南京IDC网络
ip-asn, 134756, direct

# Shijiazhuang IDC network, CHINANET Hebei province
ip-asn, 134760, direct

# CHINANET四川省成都市MAN网络
ip-asn, 134761, direct

# CHINANET四川省成都市MAN网络
ip-asn, 134762, direct

# CHINANET广东省网络
ip-asn, 134763, direct

# CHINANET广东省网络
ip-asn, 134764, direct

# CHINANET四川省成都市MAN网络
ip-asn, 134765, direct

# CHINANET四川省成都市MAN网络
ip-asn, 134766, direct

# CHINANET四川省成都市MAN网络
ip-asn, 134768, direct

# ChinaNet江苏常州IDC网络
ip-asn, 134769, direct

# CHINANET Jiangsu province Suzhou taihu IDC network
ip-asn, 134770, direct

# CHINANET四川省成都市MAN网络
ip-asn, 134771, direct

# CHINANET广东省东莞MAN网络
ip-asn, 134772, direct

# CHINANET Guangdong province Guangzhou MAN network
ip-asn, 134773, direct

# CHINANET广东省深圳MAN网络
ip-asn, 134774, direct

# CHINANET Guangdong province Zhusanjiao MAN network
ip-asn, 134775, direct

# 中国移动集团吉林通信公司
ip-asn, 134810, direct

# 优步公司
ip-asn, 134981, direct

# iLemonrain Network
ip-asn, 134993, direct

# VERI2
ip-asn, 135006, direct

# Malindex网络
ip-asn, 135028, direct

# 中国联通广东IP网络
ip-asn, 135061, direct

# 深圳凯瑟恒科技信息有限公司
ip-asn, 135357, direct

# 北京敦煌和光信息技术有限公司
ip-asn, 135363, direct

# 上海优祖信息技术有限公司
ip-asn, 135365, direct

# 宁夏西云数据科技有限公司
ip-asn, 135629, direct

# Luginbash AS
ip-asn, 135646, direct

# ShenZhen rainbow Computer Network company Limited
ip-asn, 135663, direct

# RBB InfoTech
ip-asn, 135671, direct

# Beijing 3389 Network Technology Co., Ltd.
ip-asn, 136146, direct

# Beijing Shijihulian Yuntong Network Technology Co., Ltd.
ip-asn, 136160, direct

# Quanzhou Yuntun Network Technology Co., Ltd.
ip-asn, 136173, direct

# Beijing Tiantexin Tech. Co., Ltd.
ip-asn, 136180, direct

# 迪庆
ip-asn, 136188, direct

# Opera软件技术（北京）有限公司
ip-asn, 136189, direct

# 大理
ip-asn, 136190, direct

# YICHANG, Hubei Province, P.R.China.
ip-asn, 136191, direct

# Xiangyang, Hubei Province, P.R.China.
ip-asn, 136192, direct

# Jingzhou, Hubei Province, P.R.China.
ip-asn, 136193, direct

# Huangshi, Hubei Province, P.R.China.
ip-asn, 136194, direct

# China Telecom Dehong
ip-asn, 136195, direct

# 文山
ip-asn, 136197, direct

# CHINANET Guangdong province Yuexi MAN network
ip-asn, 136198, direct

# CHINANET Guangdong province Yuedong MAN network
ip-asn, 136199, direct

# CHINANET广东省佛山市MAN网络
ip-asn, 136200, direct

# 双宇通讯科技有限公司
ip-asn, 136237, direct

# ZhongShanShi QiYi HuDong WangLuoKeJi Ltd
ip-asn, 136250, direct

# 深圳市奥特科技有限公司
ip-asn, 136390, direct

# 蓝色数据中心
ip-asn, 136545, direct

# TYPCN全球网络
ip-asn, 136559, direct

# 哲业网络
ip-asn, 136574, direct

# MxxCloud LLC
ip-asn, 136591, direct

# 北京丰鸟网络科技有限公司
ip-asn, 136600, direct

# 深圳市世纪一号有限公司
ip-asn, 136758, direct

# ROBLOX (SHENZHEN) DIGITAL SCIENCE AND TECHNOLOGY CO., LTD
ip-asn, 136766, direct

# 麒麟网络
ip-asn, 136782, direct

# 中国联通广东IP网络
ip-asn, 136958, direct

# 中国联通广东IP网络
ip-asn, 136959, direct

# 快运信息技术有限公司
ip-asn, 137218, direct

# CatIO网络
ip-asn, 137256, direct

# CHINATELECOM Hubei province Wuhan 5G network
ip-asn, 137266, direct

# CHINATELECOM Hubei province Huangshi 5G network
ip-asn, 137401, direct

# CHINATELECOM Hubei province Shiyan 5G network
ip-asn, 137402, direct

# 巴卡网络
ip-asn, 137410, direct

# 江门市天达网络有限公司
ip-asn, 137509, direct

# 中国联通
ip-asn, 137539, direct

# 郑州绿林科信息技术有限公司
ip-asn, 137547, direct

# arebz.com
ip-asn, 137571, direct

# Zhengzhou, Henan Province, P.R.China.
ip-asn, 137686, direct

# 芜湖
ip-asn, 137687, direct

# CHINATELECOM Liaoning Benxi MAN
ip-asn, 137688, direct

# 淮南
ip-asn, 137689, direct

# 马鞍山
ip-asn, 137690, direct

# Heilongjiang Province, P.R.China.
ip-asn, 137691, direct

# 铜陵
ip-asn, 137692, direct

# 安庆
ip-asn, 137693, direct

# CHINATELECOM Xinjiang Kezhou MAN network
ip-asn, 137694, direct

# CHINATELECOM Xinjiang Wulumuqi MAN network
ip-asn, 137695, direct

# CHINATELECOM江苏扬州IDC网络报道：江苏省扬州市，中国。
ip-asn, 137697, direct

# Haerbing , Heilongjiang Province, P.R.China.
ip-asn, 137698, direct

# CHINATELECOM江苏宿迁IDC网络
ip-asn, 137699, direct

# 池州
ip-asn, 137702, direct

# APNIC ASN Block
ip-asn, 137710, direct

# Shanghai GongQi Network Technology Co., Ltd
ip-asn, 137711, direct

# GTJA证券
ip-asn, 137715, direct

# Beijing Volcano Engine Technology Co., Ltd.
ip-asn, 137718, direct

# Qingdao Weidong Big Data Technology Co., Ltd
ip-asn, 137719, direct

# 中国石油化工股份有限公司
ip-asn, 137726, direct

# APNIC ASN Block
ip-asn, 137735, direct

# Beijing Chijun Network Advisory Service Co,Ltd
ip-asn, 137747, direct

# Beijing Jingdong Shangke Information Technology Co. Ltd.
ip-asn, 137753, direct

# Industrial and Commercial Bank of China Limited,ICBC
ip-asn, 137758, direct

# APNIC ASN Block
ip-asn, 137759, direct

# APNIC ASN Block
ip-asn, 137761, direct

# Guosen youyun software system co. LTD.
ip-asn, 137762, direct

# 北京卓越科技有限公司
ip-asn, 137764, direct

# Shanghai General Motor Corporation Limited
ip-asn, 137767, direct

# STATE GRID SHANGHAI MUNICIPAL ELECTRIC POWER COMPANY
ip-asn, 137782, direct

# CACloud Services (Shanghai) Co., Ltd.
ip-asn, 137784, direct

# APNIC ASN Block
ip-asn, 137785, direct

# Beijing Jingdong Shangke Information Technology Co. Ltd.
ip-asn, 137787, direct

# Shanxi Beacon Cloudscape
ip-asn, 137788, direct

# Guangzhou enjoyVC Communication Technology CO., Ltd
ip-asn, 137791, direct

# Dahe tianchi (Beijing) network co. LTD
ip-asn, 137794, direct

# 5/F, Zhujiang Yide Building, 362 Dongfeng Middle Road, Yuexiu District,
ip-asn, 137798, direct

# China Guangfa Bank
ip-asn, 137799, direct

# AIPO Cloud (Guizhou) Technology Co., Ltd.
ip-asn, 137801, direct

# China Internet Exchange
ip-asn, 137804, direct

# 北京京金融科技控股有限公司
ip-asn, 137805, direct

# WMGS咨询（深圳）有限公司
ip-asn, 137806, direct

# LeanCloud
ip-asn, 137813, direct

# Nathaniel Chan Jie Le
ip-asn, 137835, direct

# 华娟企业网
ip-asn, 137882, direct

# ELIX网络
ip-asn, 137897, direct

# Nyatwork
ip-asn, 137936, direct

# 厦门优田科技有限公司
ip-asn, 137946, direct

# 深圳市胡联先锋科技有限公司
ip-asn, 138029, direct

# 刘璐瑶
ip-asn, 138166, direct

# China Telecom
ip-asn, 138169, direct

# CERNET2 regional IX at Hebei Normal University
ip-asn, 138182, direct

# MoeQing网络服务
ip-asn, 138211, direct

# Hingcloud
ip-asn, 138333, direct

# CERNET2 regional IX at Shenzhen University
ip-asn, 138369, direct

# CERNET2 regional IX at Nanchang University
ip-asn, 138370, direct

# CERNET2 regional IX at Ocean University of China
ip-asn, 138371, direct

# CERNET2 regional IX at Fuzhou University
ip-asn, 138373, direct

# CERNET2 regional IX at Taiyuan University
ip-asn, 138374, direct

# CERNET2 regional IX at Inner Mongolia University
ip-asn, 138375, direct

# CERNET2 regional IX at Ningxia University
ip-asn, 138376, direct

# CERNET2 regional IX at Qinghai Normal University
ip-asn, 138377, direct

# CERNET2 regional IX at Yunnan University
ip-asn, 138378, direct

# CERNET2 regional IX at Guizhou University
ip-asn, 138381, direct

# CHINATELECOM Shaanxi province Xi'an 5G network
ip-asn, 138387, direct

# CERNET2 regional IX at Guangxi University
ip-asn, 138393, direct

# Lee Kinshing
ip-asn, 138405, direct

# 贵州移动通信有限公司互联网数据中心
ip-asn, 138407, direct

# CHINATELECOM Shaanxi province Tongchuan 5G network
ip-asn, 138409, direct

# 中国联通
ip-asn, 138421, direct

# CHINATELECOM Shaanxi province Baoji 5G network
ip-asn, 138436, direct

# CERNET2 regional IX at Guangxi Normal University
ip-asn, 138438, direct

# CERNET2 regional IX at Hainan Normal University
ip-asn, 138440, direct

# CERNET2 regional IX at Xinjiang University
ip-asn, 138441, direct

# CERNET2 regional IX at Tibet University
ip-asn, 138442, direct

# CHINATELECOM Shaanxi province Weinan 5G network
ip-asn, 138513, direct

# CHINATELECOM Shaanxi province Xianyang 5G network
ip-asn, 138514, direct

# Poema Network
ip-asn, 138517, direct

# 宁波南边拓罗新溪吉树有限公司
ip-asn, 138538, direct

# 云梦有限公司
ip-asn, 138542, direct

# Zero Cirrus Cloud Computing (Shanghai) Co., Ltd.
ip-asn, 138545, direct

# CHINATELECOM Shaanxi province Hanzhong 5G network
ip-asn, 138597, direct

# CHINATELECOM Shaanxi province Ankang 5G network
ip-asn, 138635, direct

# CHINATELECOM Shaanxi province Yulin 5G network
ip-asn, 138641, direct

# 小狼连接
ip-asn, 138667, direct

# CHINATELECOM Shaanxi province Yanan 5G network
ip-asn, 138679, direct

# 深圳华洋科技有限公司
ip-asn, 138914, direct

# Jiangsu Kunshan IDC
ip-asn, 138949, direct

# Jiangsu Wuxi International IDC network
ip-asn, 138950, direct

# Hubei Jiangxia IDC
ip-asn, 138982, direct

# WooMai Network
ip-asn, 138990, direct

# China Telecom
ip-asn, 138991, direct

# UNICOM InnerMongolia province network
ip-asn, 139007, direct

# Henan Luoyang IDC
ip-asn, 139018, direct

# Henan Xinxiang MAN
ip-asn, 139019, direct

# 武汉LSHIY网络科技有限公司
ip-asn, 139023, direct

# Baishan Cloud
ip-asn, 139057, direct

# Societe Generale (China) Limited
ip-asn, 139061, direct

# Fantasy Sky Internet eXchange
ip-asn, 139073, direct

# The Internet Data Center of Sichuan Mobile Communication Company Limited
ip-asn, 139080, direct

# Wuxi Education Information Management Service Center
ip-asn, 139090, direct

# Shanghai MBN telecommunication technology Co., LTD.
ip-asn, 139091, direct

# BMW Brilliance Automotive Ltd.
ip-asn, 139100, direct

# Beckman Coulter Commercial Enterprise(China)Co.,Ltd.
ip-asn, 139108, direct

# Lenovo Mobile Communication Technology (Beijing) Ltd
ip-asn, 139110, direct

# Shanghai Qnet Networking Technology Co.,Ltd
ip-asn, 139112, direct

# Shanghai Felizlink Communication Technology Co., Ltd.
ip-asn, 139113, direct

# Shanghai Rugu Info&Tech Co.,Ltd.
ip-asn, 139118, direct

# BEIJING MUNICIPAL ADMINISTRATION COMMUNICATION CARD CO..LTD
ip-asn, 139122, direct

# ZHEJIANG PROVINCE NEW-TYPE INTERNET EXCHANGE POINT CO.,LTD.
ip-asn, 139136, direct

# Gopay Information Technology Co.,Ltd
ip-asn, 139138, direct

# Shenyang Agricultural University
ip-asn, 139139, direct

# Yusys Financial Cloud
ip-asn, 139141, direct

# Big Data Center Of Shandong Province
ip-asn, 139154, direct

# Business-intelligence of Oriental Nations Corporation Ltd.
ip-asn, 139157, direct

# Xinjiang Rural Credit Union
ip-asn, 139161, direct

# Hangzhou Woodnn Technology Co., Ltd.
ip-asn, 139172, direct

# New Oriental Education & Technology Group Ltd.
ip-asn, 139177, direct

# Rural Credit Banks Funds Clearing Center
ip-asn, 139178, direct

# China Pacific Insurance (Group) Co.,Ltd.
ip-asn, 139179, direct

# ABC Life Insurance Co., Ltd
ip-asn, 139182, direct

# Thomson Reuters (Beijing) Technology Development Co. Ltd
ip-asn, 139183, direct

# China Merchants Bank Co., Ltd.
ip-asn, 139188, direct

# Beijing Yu Jia Heng Tong Communications and Information Co., Ltd.
ip-asn, 139189, direct

# Jiangxi Jiujiang IDC
ip-asn, 139201, direct

# Guizhou GuiAn IDC
ip-asn, 139203, direct

# Htroy Network Research Limited
ip-asn, 139216, direct

# Sichuan Chuanxn IDC
ip-asn, 139220, direct

# Zero
ip-asn, 139231, direct

# PPPWAW Network
ip-asn, 139247, direct

# LSC.MOE
ip-asn, 139248, direct

# ENMOE LTD.
ip-asn, 139249, direct

# Guangzhou Tiansui Information Technology Co., Ltd.
ip-asn, 139266, direct

# Hubei Huanggang IDC
ip-asn, 139316, direct

# Ningbo Dahuamao Information Technology Co Ltd
ip-asn, 139317, direct

# Haima Global Network
ip-asn, 139328, direct

# CHINANET Guizhou Yilong IDC
ip-asn, 139462, direct

# GTDev Network
ip-asn, 139589, direct

# Zhu Hai Shi Fu Yuan Le Yu Technology Limited
ip-asn, 139618, direct

# Hubei Yunwutong Network Technology Co., Ltd.
ip-asn, 139635, direct

# HeFei
ip-asn, 139721, direct

# Guangdong Yunjie Communication Co., Ltd.
ip-asn, 139726, direct

# XINGCHEN DATA HK CO., LIMITED
ip-asn, 139734, direct

# Peddie Institute Co., Ltd
ip-asn, 139742, direct

# Shen Zhen Shi Fang Technology Co., Limited
ip-asn, 139743, direct

# China Telecom Headquarters OA network
ip-asn, 139767, direct

# CERNET Center
ip-asn, 139774, direct

# JiuYao NET
ip-asn, 139796, direct

# Beijing Dajia Internet Information Technology Co., Ltd.
ip-asn, 139799, direct

# Evsio0n Network Inc.
ip-asn, 139833, direct

# Ankang Puchuang Network Technology Co., Ltd.
ip-asn, 139866, direct

# Wu'an Chihong Network Technology Co., Ltd.
ip-asn, 139874, direct

# ChinaNet Shandong Yantai IDC network
ip-asn, 139887, direct

# No.16 Hengcha Rd, Zhuhui, Hengyang, Hunan
ip-asn, 139888, direct

# Karamay Hzon Network Technology Development Co.,Ltd.
ip-asn, 139908, direct

# China Telecom
ip-asn, 140053, direct

# China Telecom
ip-asn, 140056, direct

# Qinghai Telecom
ip-asn, 140061, direct

# China Telecom
ip-asn, 140083, direct

# Shaanxi Mobile Communication Company Limited
ip-asn, 140105, direct

# TENVM TECHNOLOGY LIMITED
ip-asn, 140219, direct

# CHINATELECOM Shaanxi province Shangluo 5G network
ip-asn, 140238, direct

# CHINATELECOM Anhui province Shengji 5G network
ip-asn, 140245, direct

# CHINATELECOM Anhui province Hefei 5G network
ip-asn, 140246, direct

# CHINATELECOM Anhui province Wuhu 5G network
ip-asn, 140247, direct

# CHINATELECOM Anhui province Anqing 5G network
ip-asn, 140248, direct

# CHINATELECOM Anhui province Bengbu 5G network
ip-asn, 140249, direct

# CHINATELECOM Anhui province Fuyang 5G network
ip-asn, 140250, direct

# CHINATELECOM Anhui province Bozhou 5G network
ip-asn, 140251, direct

# CHINATELECOM Anhui province Huaibei 5G network
ip-asn, 140252, direct

# CHINATELECOM Anhui province Huainan 5G network
ip-asn, 140253, direct

# CHINATELECOM Anhui province Shuzhou 5G network
ip-asn, 140254, direct

# CHINATELECOM Anhui province Chuzhou 5G network
ip-asn, 140255, direct

# CHINATELECOM Anhui province Liuan 5G network
ip-asn, 140256, direct

# CHINATELECOM Anhui province Chizhou 5G network
ip-asn, 140257, direct

# CHINATELECOM Anhui province Maanshan 5G network
ip-asn, 140258, direct

# CHINATELECOM Anhui province Tongling 5G network
ip-asn, 140259, direct

# CHINATELECOM Anhui province Xuancheng 5G network
ip-asn, 140260, direct

# CHINATELECOM Anhui province Huangshan 5G network
ip-asn, 140261, direct

# CHINATELECOM SiChuan province Chengdu 5G network
ip-asn, 140265, direct

# CHINATELECOM Jiangsu province 5G CORE network
ip-asn, 140290, direct

# CHINATELECOM Jiangsu province Nanjing 5G network
ip-asn, 140291, direct

# CHINATELECOM Jiangsu province Suzhou 5G network
ip-asn, 140292, direct

# CHINATELECOM Jiangsu province Changzhou 5G network
ip-asn, 140293, direct

# CHINATELECOM Jiangsu provinceYangzhou 5G network
ip-asn, 140294, direct

# CHINATELECOM Jiangsu province Lianyungang 5G network
ip-asn, 140295, direct

# CHINATELECOM Jiangsu province Wuxi 5G network
ip-asn, 140296, direct

# CHINATELECOM Jiangsu province Xuzhou 5G network
ip-asn, 140297, direct

# CHINATELECOM Jiangsu province Yancheng 5G network
ip-asn, 140298, direct

# CHINATELECOM Jiangsu province Nantong 5G network
ip-asn, 140299, direct

# CHINATELECOM Jiangsu province Suqian 5G network
ip-asn, 140300, direct

# CHINATELECOM Jiangsu province Taizhou 5G network
ip-asn, 140301, direct

# CHINATELECOM Jiangsu province Zhenjiang 5G network
ip-asn, 140302, direct

# CHINATELECOM Jiangsu province Huaian 5G network
ip-asn, 140303, direct

# CHINATELECOM Guangdong province Zhuhai 5G network
ip-asn, 140308, direct

# CHINATELECOM Guangdong province Zhongshan 5G network
ip-asn, 140309, direct

# CHINATELECOM Guangdong province Dongguan 5G network
ip-asn, 140310, direct

# CHINATELECOM Guangdong province Jiangmen 5G network
ip-asn, 140311, direct

# CHINATELECOM Guangdong province Zhanjiang 5G network
ip-asn, 140312, direct

# CHINATELECOM Guangdong province Zhaoqing 5G network
ip-asn, 140313, direct

# CHINATELECOM Guangdong province Shantou 5G network
ip-asn, 140314, direct

# CHINATELECOM Guangdong province Jieyang 5G network
ip-asn, 140315, direct

# CHINATELECOM Guangdong province Chaozhou 5G network
ip-asn, 140316, direct

# CHINATELECOM Guangdong province Shaoguan 5G network
ip-asn, 140317, direct

# CHINATELECOM Guangdong province Heyuan 5G network
ip-asn, 140318, direct

# CHINATELECOM Guangdong province Qingyuan 5G network
ip-asn, 140319, direct

# CHINATELECOM Guangdong province Shanwei 5G network
ip-asn, 140320, direct

# CHINATELECOM Fujian province Shengji 5G network
ip-asn, 140328, direct

# CHINATELECOM Fujian province Fuzhou 5G network
ip-asn, 140329, direct

# CHINATELECOM Fujian province Xiamen 5G network
ip-asn, 140330, direct

# CHINATELECOM Fujian province NINGDE 5G network
ip-asn, 140331, direct

# CHINATELECOM Fujian province Putian 5G network
ip-asn, 140332, direct

# CHINATELECOM Fujian province Quanzhou 5G network
ip-asn, 140333, direct

# CHINATELECOM Fujian province Zhangzhou 5G network
ip-asn, 140334, direct

# CHINATELECOM Fujian province Longyan 5G network
ip-asn, 140335, direct

# CHINATELECOM Fujian province Sanming 5G network
ip-asn, 140336, direct

# CHINATELECOM Fujian province Nanping 5G network
ip-asn, 140337, direct

# CHINATELECOM Yunnan province Shengji 5G network
ip-asn, 140345, direct

# CHINATELECOM Yunnan province Kunming 5G network
ip-asn, 140346, direct

# CHINATELECOM Yunnan province Xishuangbanna 5G network
ip-asn, 140347, direct

# CHINATELECOM Yunnan province Baoshan 5G network
ip-asn, 140348, direct

# CHINATELECOM Yunnan province Chuxiong 5G network
ip-asn, 140349, direct

# CHINATELECOM Yunnan province Dali 5G network
ip-asn, 140350, direct

# CHINATELECOM Yunnan province Dehong 5G network
ip-asn, 140351, direct

# CHINATELECOM Yunnan province Diqing 5G network
ip-asn, 140352, direct

# CHINATELECOM Yunnan province Honghe 5G network
ip-asn, 140353, direct

# CHINATELECOM Yunnan province Lijiang 5G network
ip-asn, 140354, direct

# CHINATELECOM Yunnan province Lincang 5G network
ip-asn, 140355, direct

# CHINATELECOM Yunnan province Nujiang 5G network
ip-asn, 140356, direct

# CHINATELECOM Yunnan province Puer 5G network
ip-asn, 140357, direct

# CHINATELECOM Yunnan province Qujing 5G network
ip-asn, 140358, direct

# CHINATELECOM Yunnan province Wenshan 5G network
ip-asn, 140359, direct

# CHINATELECOM Yunnan province Yuxi 5G network
ip-asn, 140360, direct

# CHINATELECOM Yunnan province Zhaotong 5G network
ip-asn, 140361, direct

# CHINATELECOM Hunan province 5G Core Network 5G network
ip-asn, 140364, direct

# CHINATELECOM Hunan province Changsha 5G network
ip-asn, 140365, direct

# CHINATELECOM Hunan province Hengyang 5G network
ip-asn, 140366, direct

# CHINATELECOM Hunan province Yueyang 5G network
ip-asn, 140367, direct

# CHINATELECOM Hunan province Zhuzhou 5G network
ip-asn, 140368, direct

# CHINATELECOM Hunan province Xiangtan 5G network
ip-asn, 140369, direct

# CHINATELECOM Hunan province Chenzhou 5G network
ip-asn, 140370, direct

# CHINATELECOM Hunan province Yongzhou 5G network
ip-asn, 140371, direct

# CHINATELECOM Hunan province Yiyang 5G network
ip-asn, 140372, direct

# CHINATELECOM Hunan province Changde 5G network
ip-asn, 140373, direct

# CHINATELECOM Hunan province Zhangjiajie 5G network
ip-asn, 140374, direct

# CHINATELECOM Hunan province Xiangxi 5G network
ip-asn, 140375, direct

# CHINATELECOM Hunan province Huaihua 5G network
ip-asn, 140376, direct

# CHINATELECOM Hunan province Shaoyang 5G network
ip-asn, 140377, direct

# CHINATELECOM Hunan province Loudi 5G network
ip-asn, 140378, direct

# CHINATELECOM ZHEJIANG province Shengji 5G network
ip-asn, 140483, direct

# CHINATELECOM ZHEJIANG province Shengji EPCCE network
ip-asn, 140484, direct

# CHINATELECOM ZHEJIANG province HANGZHOU 5GC network
ip-asn, 140485, direct

# CHINATELECOM ZHEJIANG province JINHUA 5GC network
ip-asn, 140486, direct

# CHINATELECOM ZHEJIANG province HANGZHOU 5G network
ip-asn, 140487, direct

# CHINATELECOM ZHEJIANG province NINGBO 5G network
ip-asn, 140488, direct

# CHINATELECOM ZHEJIANG province WENZHOU 5G network
ip-asn, 140489, direct

# CHINATELECOM ZHEJIANG province JINHUA 5G network
ip-asn, 140490, direct

# CHINATELECOM ZHEJIANG province TAIZHOU 5G network
ip-asn, 140491, direct

# CHINATELECOM ZHEJIANG province SHAOXING 5G network
ip-asn, 140492, direct

# CHINATELECOM ZHEJIANG province JIAXING 5G network
ip-asn, 140493, direct

# CHINATELECOM ZHEJIANG province HUZHOU 5G network
ip-asn, 140494, direct

# CHINATELECOM ZHEJIANG province QUZHOU 5G network
ip-asn, 140495, direct

# CHINATELECOM ZHEJIANG province LISHUI 5G network
ip-asn, 140496, direct

# CHINATELECOM ZHEJIANG province ZHOUSHAN 5G network
ip-asn, 140497, direct

# RCold Network
ip-asn, 140498, direct

# ZR Global Network
ip-asn, 140506, direct

# CHINATELECOM GUANGXI province Shengji 5G network
ip-asn, 140508, direct

# CHINATELECOM GUANGXI province NanNing 5G network
ip-asn, 140509, direct

# CHINATELECOM GUANGXI province LiuZhou 5G network
ip-asn, 140510, direct

# CHINATELECOM GUANGXI province GuiLin 5G network
ip-asn, 140511, direct

# CHINATELECOM GUANGXI province YuLin 5G network
ip-asn, 140512, direct

# CHINATELECOM GUANGXI province BaiSe 5G network
ip-asn, 140513, direct

# CHINATELECOM GUANGXI province GuiGang 5G network
ip-asn, 140514, direct

# CHINATELECOM GUANGXI province HeChi 5G network
ip-asn, 140515, direct

# CHINATELECOM GUANGXI province QinZhou 5G network
ip-asn, 140516, direct

# CHINATELECOM GUANGXI province WuZhou 5G network
ip-asn, 140517, direct

# CHINATELECOM GUANGXI province BeiHai 5G network
ip-asn, 140518, direct

# CHINATELECOM GUANGXI province ChongZuo 5G network
ip-asn, 140519, direct

# CHINATELECOM GUANGXI province LaiBin 5G network
ip-asn, 140520, direct

# CHINATELECOM GUANGXI province HeZhou 5G network
ip-asn, 140521, direct

# CHINATELECOM GUANGXI province FangChengGang 5G network
ip-asn, 140522, direct

# China Telecom
ip-asn, 140527, direct

# CHINATELECOM Hubei province Yichang 5G network
ip-asn, 140528, direct

# CHINATELECOM Hubei province Xiangyang 5G network
ip-asn, 140529, direct

# CHINATELECOM Hubei province Ezhou 5G network
ip-asn, 140530, direct

# CHINATELECOM Hubei province Jingmen 5G network
ip-asn, 140531, direct

# CHINATELECOM Hubei province Xiaogan 5G network
ip-asn, 140532, direct

# CHINATELECOM Hubei province Jingzhou 5G network
ip-asn, 140533, direct

# CHINATELECOM Hubei province Huanggang 5G network
ip-asn, 140534, direct

# CHINATELECOM Hubei province Xianning 5G network
ip-asn, 140535, direct

# CHINATELECOM Hubei province Suizhou 5G network
ip-asn, 140536, direct

# CHINATELECOM Hubei province Enshi 5G network
ip-asn, 140537, direct

# CHINATELECOM Hubei province Xiantao 5G network
ip-asn, 140538, direct

# CHINATELECOM XINJIANG province Shengji 5G network
ip-asn, 140553, direct

# SHENZHEN TUTENG NETWORK CO.,LTD
ip-asn, 140596, direct

# BILIBILI HK LIMITED
ip-asn, 140633, direct

# China Telecom
ip-asn, 140636, direct

# China Telecom
ip-asn, 140638, direct

# CHINATELECOM Guizhou province Shengji 5G network
ip-asn, 140647, direct

# CHINATELECOM Guizhou province Guiyang 5G network
ip-asn, 140648, direct

# CHINATELECOM Guizhou province Zunyi 5G network
ip-asn, 140649, direct

# CHINATELECOM Guizhou province Anshun 5G network
ip-asn, 140650, direct

# CHINATELECOM Guizhou province Qiannan 5G network
ip-asn, 140651, direct

# CHINATELECOM Guizhou province Qiandongnan 5G network
ip-asn, 140652, direct

# CHINATELECOM Guizhou province Tongren 5G network
ip-asn, 140653, direct

# CHINATELECOM Guizhou province Bijie 5G network
ip-asn, 140654, direct

# CHINATELECOM Guizhou province Liupanshui 5G network
ip-asn, 140655, direct

# CHINATELECOM Guizhou province Qianxinan 5G network
ip-asn, 140656, direct

# CHINATELECOM Guizhou province Guian 5G network
ip-asn, 140657, direct

# UNICOM Ningxia province network
ip-asn, 140707, direct

# UNICOM JiangSu WuXi IDC network
ip-asn, 140716, direct

# UNICOM JiangSu Suzhou IDC network
ip-asn, 140717, direct

# UNICOM JiangSu NanTong IDC network
ip-asn, 140720, direct

# UNICOM AnHui province network
ip-asn, 140726, direct

# TOHU Public Internet
ip-asn, 140731, direct

# CHINATELECOM Jiangxi province Shengji 5G network
ip-asn, 140852, direct

# CHINATELECOM Jiangxi province Nanchang 5G network
ip-asn, 140853, direct

# CHINATELECOM Jiangxi province Jiujiang 5G network
ip-asn, 140854, direct

# CHINATELECOM Jiangxi province Jingdezhen 5G network
ip-asn, 140855, direct

# CHINATELECOM Jiangxi province Shangrao 5G network
ip-asn, 140856, direct

# CHINATELECOM Jiangxi province yingtan 5G network
ip-asn, 140857, direct

# CHINATELECOM Jiangxi province Yichun 5G network
ip-asn, 140858, direct

# CHINATELECOM Jiangxi province Pingxiang 5G network
ip-asn, 140859, direct

# CHINATELECOM Jiangxi province Xinyu 5G network
ip-asn, 140860, direct

# CHINATELECOM Jiangxi province Ganzhou 5G network
ip-asn, 140861, direct

# CHINATELECOM Jiangxi province Jian 5G network
ip-asn, 140862, direct

# CHINATELECOM Jiangxi province Fuzhou 5G network
ip-asn, 140863, direct

# UNICOM Guangxi province network
ip-asn, 140886, direct

# China Mobile Group AnHui communications corporation
ip-asn, 140895, direct

# CHINA TELECOM
ip-asn, 140903, direct

# Hentai Network Lab
ip-asn, 140913, direct

# SUNNET Global Network
ip-asn, 140936, direct

# China Unicom Shanghai FuTe IDC network
ip-asn, 140979, direct

# Shenyang MAN, Liaoning, China Telecom
ip-asn, 141025, direct

# Guangxi Telecom Nanning Wuxiang Yuanyang IDC
ip-asn, 141157, direct

# China Mobile Group Guangdong communications corporation
ip-asn, 141425, direct

# Agatha Network
ip-asn, 141429, direct

# Phoenix Network
ip-asn, 141445, direct

# China Telecom Beijing Tianjin Hebei Big Data Industry Park Branch
ip-asn, 141679, direct

# Otaku Limited
ip-asn, 141694, direct

# China Telecom
ip-asn, 141739, direct

# China Telecom
ip-asn, 141771, direct

# Baoshuo Network
ip-asn, 141776, direct

# China Telecom
ip-asn, 141998, direct

# vscloud.cc
ip-asn, 142048, direct

# Zhejiang Aiyun Network Technology Co Ltd
ip-asn, 142111, direct

# Star Horizon Tech Inc
ip-asn, 142112, direct

# GoldDoge Computer Technologies & Networks Information Center
ip-asn, 142164, direct

# NaiveTomcat Education and Research Experimental Network Backbone
ip-asn, 142280, direct

# Koala Network
ip-asn, 142284, direct

# China Telecom
ip-asn, 142404, direct

# TaterLi Education And Research Network
ip-asn, 142418, direct

# Kasumi Networks Inc
ip-asn, 142438, direct

# Magnetic Discovery Education and Research Network
ip-asn, 142549, direct

# Azurite27 Network
ip-asn, 142551, direct

# Airs Project Private Network Main
ip-asn, 142553, direct

# hongmicloud.com
ip-asn, 142554, direct

# NNET-BACKBONE
ip-asn, 142582, direct

# Dotnet Ltd
ip-asn, 142586, direct

# Lichun Tang Trading as 400Host
ip-asn, 142588, direct

# China Telecom
ip-asn, 142608, direct

# Shanghai Tujuan Information Technology Co., Ltd.
ip-asn, 142611, direct

# Wut Exchange RS
ip-asn, 142634, direct

# Atonal System
ip-asn, 142642, direct

# TaiKang Insurance Group CO.,LTD.,Wuhan Operating Center
ip-asn, 146746, direct

# kgzxnet
ip-asn, 146753, direct

# ShangHai Sensetime Technology Development Co., Ltd.
ip-asn, 146758, direct

# SiChuan XunYou Network Technologe Limit, co
ip-asn, 146834, direct

# ChinaDataCom Corporation Limited
ip-asn, 146842, direct

# China Telecom
ip-asn, 146966, direct

# China Telecom
ip-asn, 148969, direct

# Harbin Liangyue Network Technology Co., Ltd.
ip-asn, 149056, direct

# China Telecom
ip-asn, 149178, direct

# Shanghai YanFu Technology Co Ltd
ip-asn, 149292, direct

# Nanjing Tiankai Information Technology Co.Ltd.
ip-asn, 149475, direct

# YousaFan LTD
ip-asn, 149506, direct

# 91440300MA5DH1CC86
ip-asn, 149513, direct

# Fuzhou Lefeng Networks Technology Co., Ltd.
ip-asn, 149648, direct

# Octopus Cloud Computing (Shanghai) Co., Ltd
ip-asn, 149790, direct

# XiaoJin233 Network
ip-asn, 149795, direct

# JINZE YANG
ip-asn, 205794, direct

# YANGYINGTAO
ip-asn, 206729, direct

# MINGWEI LI
ip-asn, 208191, direct

# Chaohui Liu
ip-asn, 208577, direct

# YIKAI-ZHAO
ip-asn, 208679, direct

# 成渝，王
ip-asn, 209100, direct

# Licheng MAO
ip-asn, 210041, direct

# Zihan Sun
ip-asn, 210320, direct

# Liang Zhu
ip-asn, 210426, direct

# Wang Yongjin
ip-asn, 210714, direct

# Chengde TsingYao Network Technology Service Co., Ltd.
ip-asn, 210903, direct

# YAO PEI
ip-asn, 210934, direct

# JINGQUAN LI
ip-asn, 211481, direct

# Nanjing Tiankai Information Technology Co.Ltd.
ip-asn, 211843, direct

# Changgong Zhang
ip-asn, 212237, direct

# SKYWTH.COM LTD
ip-asn, 212292, direct

